.postTaskavailableNow {
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 768px) {
  .postTaskavailableNow {
    width: 100%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .postTaskavailableNow {
    width: 100%;
    align-items: flex-start;
  }
}
