.homeIndicato {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Inter;
}
.image10Parent {
  height: 365px;
  flex: 0.472;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 95px 82px 22px 97px;
  position: relative;
  isolation: isolate;
  min-width: 222px;
}
.image10Icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.imageParent {
  width: 160px;
  height: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  z-index: 1;
  flex-shrink: 0;
}
.imageIcon {
  width: 80px;
  height: 80px;
  position: relative;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  display: flex;
}
.frameParent {
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  margin-top: auto;
}
.frameGroup {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 32px;
}
.frameChild {
  height: 32px;
  width: 32px;
  position: relative;
}
.alexanderYuuParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.alexanderYuu,
.ceoFounder {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 38px;
}
.alexanderYuu {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
  letter-spacing: -4%;
  line-height: 38px;
  text-align: center;
  leading-trim: cap-height;
}
.ceoFounder {
  font-size: 11px;
  font-weight: 300;
  margin-top: -16px;
}
.homeIndicatoInner {
  height: 365px;
  flex: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  min-width: 222px;
}
.image11Parent {
  margin-left: -1px;
  margin-bottom: -29.6px;
  width: 342px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 157.6px 20px 53.6px 36px;
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
}
.image11Icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
@media screen and (max-width: 800px) {
  .homeIndicato {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .image10Parent {
    padding: 80px 20px 20px;
    box-sizing: border-box;
    flex: 1;
  }
  .alexanderYuu {
    font-size: 19px;
    line-height: 30px;
  }
  .image11Parent {
    padding-top: 80px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }
}
